# まず全部除外
*
# 全ディレクトリを許可
!*/
#ここまでホワイトリスト化

#ここから設定
!.devcontainer/*
!.vscode/*
!.gitattributes
!.dockerignore
!.gitignore
!readme.md
!components.json
!electron.vite.config.ts
!.src/*


#除外
*node_modules/
*assets/
*dist/
*database/
*out/