# まず全部除外
*
# 全ディレクトリを許可
!*/
#ここまでホワイトリスト化

#ここから設定
#許可
!.devcontainer/*
!.vscode/*
!/.dockerignore
!/.gitignore
!/readme.txt

#一般
!**/*.json
!**/*.html
!**/*.css
#js
!**/*.js
!**/*.ts
!**/*tsx


#除外
*node_modules/
*dist/
*output/
*out/